:root {
	--shadow: 0px 10px 77px -3px rgba(0, 0, 0, 0.1);
	--pad: 0.5rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(250, 250, 246);
	height: 100%;
	width: 100%;
}

form {
	margin: 1rem;
	display: grid;
	grid-template-rows: [formTop] 20% [inputAreaStart] 70% [inputAreaEnd] 10% [formBottom];
	grid-template-columns: [formLeft] 50% [formCenter] 50% [formRight];
	border-radius: 0.5rem;
	min-height: 700px;
	min-width: 500px;
	box-shadow: var(--shadow);
	background: url(./images/odin-lined.png) no-repeat;
	background-size: 15rem 15rem;
	background-position: bottom 5rem center;
	padding: var(--pad);
}
#header {
	padding: var(--pad);
	grid-area: formTop / formLeft / inputAreaStart / formRight;
}
#contactInfo {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	gap: 0.5rem;
	padding: var(--pad);
	grid-area: inputAreaStart / formLeft / inputAreaEnd / formCenter;
}

#loginInfo {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	gap: 0.5rem;
	padding: var(--pad);
	grid-area: inputAreaStart / formCenter / inputAreaEnd / formRight;
}

#footer {
	padding: var(--pad);
	grid-area: inputAreaEnd / formLeft / formBottom / formRight;
}
